@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    font-family: 'Poppins','Open Sans', 'Roboto',sans-serif;
    padding: 1px;
    margin: 1px;
}

nav {
    padding : 2px;
    text-align: center;
    background-color: white;
    display: flex;
    height: 60px;
}

nav > .left-section  {
    display: flex;
}

nav .left-section > img {
    width: 20px;
}

nav > .right-section {
    left: 95%;
    position: absolute;
    display: flex;
    text-align:center;
}

nav > .right-section >#google-logo >img {
    width: 30px;
}

article {
    margin : 0px 25% 1% 25%;
}

article > h1 {
    text-align: center;
    font-weight: 400;
    font-size: 56px;
}

.main-card {
    border: 1px solid rgb(112, 103, 103);
    margin-top: 2%;
    padding: 1%;
    border-radius: 15px;
    box-shadow: 2px 2px 2px 2px #C3C5C5;

}

.main-card > .option-selection {
    display: inline-flex;
    text-align: left;
    border: 0px;
    padding: 3px;
    padding-right: 10px;
}

.main-card > .option-selection > select ,
.main-card > .option-selection > input {
    border: 0px;
    outline: none;
    font-weight: 800;
    color: grey;
}

.main-forms {
    margin-top:20px;
    display: flex;
    padding: 10px;
}

.main-forms > .left-form > .airport-selection > input ,
.main-forms > .right-form > .airport-selection > input ,
.main-forms > .dates > input {
    width: 100%;
    height: 30px;
    border-radius: 5px;
    outline: none;
    border: 1px solid grey;
} 

.main-forms > .left-form ,
.main-forms > .right-form {
    width: 40%;
}

.main-forms > .right-form {
    padding-left: 10px;
}

.dates {
    padding-left: 20px;
}

.search-btn > a {
    border-radius: 20px;
    text-align: center;
    text-decoration: none;
    background-color: #1B66CA;
    padding: 10px;
    color: white;
    font-weight: 800;
    box-shadow: 0 1px 3px 0 rgb(60 64 67 / 30%), 0 4px 8px 3px rgb(60 64 67 / 15%);
    left: 48%;
    position: absolute;
}

.search-btn > a:hover {
    opacity: 0.9;
    transition: 0.2s ease;
}

.search-btn > a > img {
    width: 15px;
}

.covid-card {
    display: flex;
    margin-top: 5%;
    border: 2px solid black;
    border: 1px solid rgb(112, 103, 103);
    padding: 1%;
    border-radius: 15px;
    box-shadow: 2px 2px 2px 2px #C3C5C5;
}

.covid-card > .img-column {
    margin-left: 3%;
    width: 15%;
    display: block;
}

.covid-card > .img-column > img {
    width: 60%;
}

.covid-card > .text-column {
    margin-top: 15px;
}

.covid-card > .text-column > span {
    font-weight : 300;
    font-size: large;
}

.trips-container {
    display: flex;
}

.trips-container > .left {
    width: 50%;
}

.trips-container > .right {
    width: 50%;
}

.trips-container > .right > a{
    float: right;
    text-decoration: none;
    color: #1B66CA;
    font-weight: 500;
}

.flight-and-map-container {
    display: flex;
    /* border: 1px solid; */
}

.flights-container {
    display: flex;
    width: 50%;
}

.flight-and-map-container > .flights-container > .flight  {
    display: flex;
    border: 2px solid blue;
    width: 100%;
}

.flight-and-map-container > .flights-container > .flight > .flight-img > img  {
    width: 95%;
    border-radius: 10px;
}

.flight-and-map-container > .flights-container > .flight > .flight-text {
    width: 50%;
}

.flight-and-map-container > .flights-container > .flight > .flight-text > span {
    font-weight: 600;
}

.flight-and-map-container > .flights-container > .flight > .flight-text > p {
    font-size: small;
}
